html, body{
    width: 100%;
    height: 100%;
    margin:0;
    color: white;
    background-image: linear-gradient(-45deg, cyan 5%, darkblue 25%, orangered 75%, yellow 95%);
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    padding: 5%;
    text-align: center;
    font-size: 1rem;
    font-size: clamp(1rem, 6vw + 0.2rem, 2rem);
    line-height: 1;
    margin: 0;
}

#estado{
    width: 90%;
    height: 75px;
    margin: 0 auto;
    line-height: 70px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    display: flex;
    justify-content: space-around;
}

#mapa {
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
}


#mapa-conteudo {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 30px;
    display: grid;
    justify-content: center;
    align-content: center;
}

svg{
    height: 100%;
    width: 100%;
    filter: drop-shadow(5px 5px 1px #000000)
}

svg path{
    fill: rgb(255, 255, 255);
    cursor: pointer;
    stroke: #3355AA;
    stroke-width: 300;
}

svg path.ativo {
    fill: #ffcc00;
    fill-opacity: 1;
}

svg path.casamentos {
    fill: #FFaa00;
}