@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700');

body {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  color: #ff5722;
  margin: 0 auto;
  padding: 5vw;
  font-size: 1rem;
  
  background: #eee;
min-width: 320px;max-width: 500px;display: grid;grid-template-columns: 1fr;}

h1 {
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
color: #3f51b5;}

p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
width: 7.8rem;text-transform: uppercase;letter-spacing: 0.2rem;font-weight: bold;}

input {
  all: unset;
  width: 80px;
  padding: 0 8px;
  border-radius: 8px;
  border: 2px solid #ffc2af;
  color: #3f51b5;
  background: White;
  text-align: center;
font-weight: normal;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

output {
  font-weight: bold;
  color: #f44336;
}

footer {
  margin-top: 48px;
}

a {
  color: inherit;
}

a:hover {
  color: DeepPink;
}

.baldes {
  display: flex;
  width: 90vw;
  height: 1.25rem;
align-self: end;max-width: 500px;}

.baldes > div {
  background: #ffa184;
}

.baldes > div.voce {
  background: #3f51b5;
  color:#3f51b5;
}

.baldes > div {
  height: 100%;
  margin: 0 2px;
}

.voce::before {
  content: attr(data-before) !important;
  position: absolute;
  top: 2.5rem;
  font-weight: bold;
  color: #3f51b5;
  font-size: 0.75rem;}

.baldes > div::after {
  content: attr(data-ate);
  bottom: -1rem;
  font-size: 0.5rem;
  position: relative;}

.voce {
  position: relative;
  justify-content: left;
  width: 0%;
  height: 100%;
  background: #3f51b5;
}
