
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
  box-sizing: border-box;
}

main{
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  height: 100%;
  width: 100vw;
}

main > * {
  scroll-snap-align: start;
  height: 100%;
  min-width: 98vw;
  display: flex;
  justify-content: center;
}

body {
  background: #fefefe;
  font-family: 'Poppins', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

/* and (max-height: 400px) */

@media (min-aspect-ratio: 1 / 1) {
  #grafico > div{transform: rotate(-90deg);transform-style: preserve-3d;height: 70vw !important;width: 25vw !important;transform-origin: center left;left: 25%;position: relative;max-height: 1600px;padding-top: 55%;}
}

#titulo {text-align: center;justify-content: center;align-items: center;display: flex;flex-direction: column;background: linear-gradient(red, darkblue);/* background: url(titulo.gif); *//* background-size: cover; *//* background-blend-mode: luminosity; *//* background-color: white; */}
#grafico {display: grid;background: linear-gradient(#ffc107, #00ff87);}
#cards{background: linear-gradient(darkblue, #9c27b0);}
#card {perspective: 1000px;text-align: center;font-size: 0.9rem;/* justify-content: center; *//* align-items: center; *//* display: flex; */filter: drop-shadow(2px 2px 2px #00008C33);}

h1,h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 65vw;
  color: white;
  filter: drop-shadow(2px 2px 2px #00008C66);
}

h1{
  text-decoration: underline dotted;
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-size: 0.75rem !important;
  font-weight: bold;
  line-height: 1;
  color: orange;
}

p {
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: normal;
  width: 50vw;
  color: white;
  filter: drop-shadow(2px 2px 2px #00008C66);
}

input {
  all: unset;
  width: 125px;
  padding: 0 8px;
  border-radius: 20px;
  border: 1px solid orangered;
  background: White;
  text-align: center;
  font-size: 2rem;
  color: white;
  letter-spacing: 3px;
  background-image: linear-gradient(orange, orangered);
  filter: drop-shadow(2px 2px 2px #00008C66);
}

input::placeholder{
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btnmostrar {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 6px 18px;
  font-weight: bold;
  text-transform: uppercase;
  filter: drop-shadow(2px 2px 2px #00008C66);
  transition: all 500ms ease-in;
}

.btnmostrar:disabled {
  cursor: default;
  opacity: 0;
}

.btnmostrar:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.blocos {
  display: flex;
  width: 70vmin;
  height: 70vh;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
  grid-area: grafico;
  z-index: 1;
}

.blocos > div.mostrar {
  background: #00000075;
  transition: all 1s ease-in-out 1s;
  text-align: center;
  }

.blocos > div {
  background: #00000050;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-areas:
    "gnumero"
    "gnome";
  grid-template-rows: 0fr 1fr;
}

.blocos > div::before {
  content: attr(data-de);
  position: absolute;
  letter-spacing: 0.1rem;
  grid-area: gnumero;
  right: 2.3rem;
  filter: drop-shadow(1px 1px 1px #00000050);
  text-align: left;
  width: 100%;
  font-size: 0.8rem;
  color: black;
}

#nomegeracao{
  grid-area: gnome;
  position: relative;
  justify-self: center;
  align-self: center;
  font-size: 1.2rem;
  z-index: 3;
  color: white;
}

/* .mostrar::after {
  content: attr(data-ano) !important;
  font-weight: 500;
  color: antiquewhite;
  position: absolute;
  grid-area: anonasc;
  filter: drop-shadow(2px 2px 2px #00008C77);
  left: -2.5rem;
  font-size: 1rem;
  top: -10vmin;
  justify-self: left;
} */

#marcador{
  display: flex;
  align-items: end;
  justify-content: flex-end;
  height: 0%;
  transition: all 1s ease-in-out 5s;
  border-bottom: 3px solid #FFFFFF50;
  color: white;
  filter: drop-shadow(1px 1px 1px #00000075);
}

.voce {
  display: flex;
  width: 70vmin;
  height: 70vh;
  gap: 0.2rem;
  flex-direction: column;
  grid-area: voce;
  z-index: 2;
  justify-content: center;
}

.voce > div.mostrar {
  transition: all 1s ease-in-out 1s;
  width: 115%;
}

.voce > div {
  width: 100%;
}

#card-i{
  width: 100%;
  height: 100%;
  transition: transform 1s 1s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  }

#card-i.virar {
  transform: rotateY(-180deg);
}

#card-f,#card-v{
  position: absolute;
  max-width: 340px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 90vw;
  height: 60vh;
  max-width: 340px;
  max-height: 420px;
}

#card-f{
  text-align: center;
  display: grid;
  border-radius: 50px;
  background: linear-gradient(orange, orangered);
  border: solid #00000011;
  }

#card-f > div{
  align-self: center;
  height: 100px;}

#card-v{
  background: linear-gradient(#eee, white);
  transform: rotateY(-180deg);
  border-radius: 20px;
  border: 1px solid #00000022;
  color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  align-content: center;
  justify-items: center;
}
