@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

body{
  margin: 0px;background: #fefefe;
display: flex;height: 100vh;justify-content: center;align-items: center;}

main {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  color: #ff5722;
  
  font-size: 1rem;
  
  
  
  display: grid;
  
  grid-template-areas:
    "tit gra"
    "card gra";
  grid-template-columns: 225px 1fr; 
  grid-template-rows: 300px 1fr;
min-width: 320px;max-width: 360px;width: 100%;}

#titulo { grid-area: tit; padding: 1rem;}
#grafico { grid-area: gra; place-self: center;}
#card { grid-area: card; }

h1,h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #3f51b5;
  margin: 0;
}

h1{
  text-decoration: underline dotted;
font-size: 1.2rem;}

h2 {
  font-size: 0.6rem !important;font-weight: 500;}

p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: normal;}

input {
  all: unset;
  width: 125px;
  padding: 0 8px;
  border-radius: 8px;
  border: 2px solid #ffc2af;
  color: #3f51b5;
  background: White;
  text-align: center;
  font-size: 2.5rem;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

footer {
  margin-top: 48px;
}

a {
  color: inherit;
}

a:hover {
  color: DeepPink;
}

.blocos {
  display: flex;
  width: 2rem;
  height: 80vh;
  flex-direction: column;}

.blocos > div {
  background: #ff9777;
}

.blocos > div.selecionada {
  background: #3f51b5;
  color:#3f51b5;
  width: 100%;
  transition: all 1s ease-in-out 0s;}

.blocos > div {
  height: 100%;
  margin: 2px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;}

.selecionada::before {
  content: attr(data-before) !important;
  font-weight: bold;
  color: #3f51b5;
  font-size: 0.75rem;transform: rotate(-90deg);
  line-height: 1;
  align-self: center;
  position: relative;
  right: -0.5rem;
  transition: all 1s ease-in-out 0s;}

.blocos > div::after {
  content: attr(data-de);
  font-size: 0.75rem;
  position: relative;
  right: -2.5rem;
  letter-spacing: 0.15rem;
  width: 100%;
  transition: all 1s ease-in-out 5s;}

.selecionada {
  position: relative;
  justify-content: left;
  width: 3vmax;
}
