
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
  box-sizing: border-box;
}

main{
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  height: 100%;
  width: 100vw;
}

main > * {
  scroll-snap-align: start;
  height: 100%;
  min-width: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

body {
  background: black;
  font-family: 'Poppins', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

#titulo {
  background-image: linear-gradient(-45deg,
  cyan 5%,
  darkblue 25%,
  orangered 75%,
  yellow 90%);
  animation: moveBg 30s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  background-size: 300% 300%;
  }

#grafico {
  display: grid;
  grid-template-areas:
    "grafico";
  grid-template-rows: 90% 1fr;
  background-image: linear-gradient(-45deg,  White 0%, Cornsilk 10%,  Gold 50%,  HotPink 100%);
  animation: moveBg 30s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  background-size: 300% 300%;
}

#cards{
  background-image: linear-gradient(-45deg,
  firebrick 0%,
  fuchsia 30%,
  darkblue 60%,
  cyan 100%);
  animation: moveBg 15s ease infinite;
  background-size: 300% 300%;
}

#card {perspective: 1000px;text-align: center;font-size: 0.9rem;filter: drop-shadow(2px 2px 2px #00008C33);display: grid;align-content: center;justify-content: center;grid-template-columns: 1fr;}

@keyframes moveBg {
  0%{background-position:0% 25%}
  50%{background-position:100% 50%}
  100%{background-position:0% 25%}
}

h1,h2 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: white;
  filter: drop-shadow(2px 2px 2px #00008C66);
  width: 80vw;
  max-width: 450px;
}

h1{
  text-decoration: underline dotted;
  margin: 0;
  font-size: 3rem;
  font-size: clamp(2rem, 3vw + 2rem, 5rem);
}

h2 {
  font-weight: bold;
  line-height: 1;
  color: orange;
  font-size: 1rem;
  font-size: clamp(0.75rem, 1vw + 0.25rem, 1rem);
}

p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: normal;
  width: 50vw;
  color: white;
  filter: drop-shadow(2px 2px 2px #00008C66);
  font-size: 0.75rem;
  font-size: clamp(0.5rem, 1vw + 0.25rem, 0.75rem);
}

input {
  all: unset;
  padding: 0 8px;
  border-radius: 20px;
  border: 1px solid orangered;
  background: White;
  text-align: center;
  color: white;
  letter-spacing: 3px;
  background-image: linear-gradient(orange, orangered);
  filter: drop-shadow(2px 2px 2px #00008C66);
  font-size: 2rem;
  font-size: clamp(2rem, 2vw + 1rem, 3rem);
  width: clamp(7rem, 7vw + 2rem, 9rem);
}

input::placeholder{
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btnmostrar {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 12px 20px;
  font-weight: bold;
  text-transform: uppercase;
  filter: drop-shadow(2px 2px 2px #00008C66);
  transition: all 500ms ease-in;
  font-size: 1rem;
}

.btnmostrar:disabled {
  cursor: default;
  opacity: 0;
}

.btnmostrar:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

@media (min-aspect-ratio: 1 / 1) {
  #grafico > div{
    transform: rotate(-90deg);
    transform-style: preserve-3d;
    height: 90vw !important;
    width: 55vh !important;
  }
}

#grafico > div{
  display: flex;
  width: 65%;
  height: 70%;
  justify-content: center;
  flex-direction: column;
  /* gap: 0.2rem; */
  grid-area: grafico;
}

.blocos {
  z-index: 1;
}

.blocos > div.mostrar {
  background: #00000099;
  transition: all 1s ease-in-out 1s;
  }

.blocos > div {
  background: #00000050;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-areas:
    "gnumero"
    "gnome";
  grid-template-rows: 0fr 1fr;
}

.blocos > div::before {
  content: attr(data-de);
  position: absolute;
  letter-spacing: 0.1rem;
  grid-area: gnumero;
  left: -20%;
  filter: drop-shadow(1px 1px 1px #00000050);
  text-align: left;
  width: 120%;
  color: black;
  border-top: 2px solid #00000050;
  font-size: 0.8rem;
  font-size: clamp(0.5rem, 0.5vmax + 0.5rem, 3rem);
}

#nomegeracao{
  grid-area: gnome;
  position: absolute;
  align-self: center;
  font-size: 1.2rem;
  z-index: 3;
  color: white;
  filter: drop-shadow(2px 2px 1px #00000050);
  left: 5%;
}

#marcador{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid orangered;
  color: orangered;
  font-weight: bold;
  align-items: flex-end;
  height: 0;
  font-size: 1.2rem;
  font-size: clamp(0.5rem, 1vmax + 0.75rem, 3rem);
}

#marcador::before{
  content: "ANO DE NASCIMENTO";
  font-size: 0.5rem;
  width: 75%;
  text-align: right;
}

.voce {
  z-index: 2;
}

.voce > div.mostrar {
  transition: all 3s ease-out 1s;
  width: 121%;
  opacity: 1;
}

.voce > div {
  width: 100%;
  opacity: 0;
}

#card-i{
  width: 85vw;
  height: 80vw;
  transition: transform 1s 1s;
  transform-style: preserve-3d;
  display: grid;
  justify-items: center;
  align-items: center;
  max-width: 400px;
  max-height: 350px;
  }

#card-i.virar {
  transform: rotateY(-180deg);
}

#card-f,#card-v{
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

#card-f{
  text-align: center;
  display: grid;
  border-radius: 50px;
  background: linear-gradient(orange, orangered);
  border: solid #00000011;
  }

#card-f > div{
  align-self: center;
  height: 100px;}

#card-v{
  background: linear-gradient(#eee, white);
  transform: rotateY(-180deg);
  border-radius: 20px;
  border: 1px solid #00000022;
  color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  align-content: center;
  justify-items: center;
}

#infos{
  
}

#poster{
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 95vh 95vh 95vh 95vh; 
  grid-template-areas: 
    "area1"
    "area2"
    "area3"
    "area4"; 
  gap: 0px 0px;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

#poster > * {
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  height: 100%;
  min-width: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

#area1 {
        grid-area: area1;
        width: 100%;
        height: 100%;
        background-color: green;
        background-image: url(images/1883-1.gif);
        background-size: contain;
      }
#area2 {
        grid-area: area2;
        width: 100%;
        height: 100%;
        background-color: firebrick;
        background-image: url(images/1883-2.gif);
        background-position-x: 65%;
      }
#area3 {
        grid-area: area3;
        width: 100%;
        height: 100%;
        background-color: darkblue;
        background-image: url(images/1883-3.webp);
      }
#area4 {
        grid-area: area4;
        width: 100%;
        height: 100%;
        background-color: white;
        background-image: url(images/1883-4.webp);
      }

@media (min-aspect-ratio: 1 / 1) {

  #poster{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  }

  #area1 {
    grid-area: 1 / 1 / 6 / 6;
  }
  #area2 {
      grid-area: 1 / 5 / 10 / 10; 
    }
  #area3 {
      grid-area: 6 / 1 / 10 / 5; 
    }
  #area4 {
      grid-area: 4 / 4 / 9 / 7;
    }
}