scroll/backup/index.html
scroll/backup/scroll.css
scroll/backup/scroll.js
scroll/backup/images/android.svg
scroll/backup/images/logogoogle.png
scroll/backup/images/regua.png
scroll/backup/images/phones/01.png
scroll/backup/images/phones/02.png
scroll/backup/images/phones/03.png
scroll/backup/images/phones/04.png
scroll/backup/images/phones/05.png
scroll/backup/images/phones/06.png
scroll/backup/images/phones/07.png
scroll/backup/images/phones/08.png
scroll/backup/images/phones/09.png
scroll/backup/images/phones/10.png
scroll/backup/images/phones/11.png
scroll/backup/images/phones/12.png
scroll/backup/images/phones/13.png
scroll/backup/images/phones/14.png
scroll/backup/images/phones/15.png
scroll/backup/images/phones/16.png
exp/app2.css
exp/backup-app.js
exp/index2.html
exp/titulo.gif
exp/images/1883-1.gif
exp/images/1883-2.gif
exp/images/1883-3.webp
exp/images/1883-4.webp
exp/images/1883-5.gif
exp/images/app2.css
exp/images/app2.js
exp/images/fundoanimado.html
calc/exp/css/app2.css
calc/exp/js/app2.js
calc/exp/index2.html
backup/guardar.js
backup/index.css
backup/index.html
backup/index.js
.vscode/launch.json
.vscode/settings.json
mapa/dados/tode_casamentolgbt_regioes.ipynb
mapa/dados/lgbt_casamento.csv
mapa/dados/casamentosporano.json
mapa/dados/tode_casamentolgbt_regioes_back.ipynb
mapa/dados/casamento.csv
mapa/dados/casamentos.ipynb
mapa/dados/casamentos.json
mapa/dados/pop.csv
mapa/dados/pop20.csv
mapa/dados/populacao.csv
mapa/dados/casamento-backup.csv
mapa/dados/casamentosporestado.json
mapa/dados/pormesestado.json
mapa/dados/casamentos-backup.ipynb
mapa/dados/casamentos-json.csv
