@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

body {
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CF2C2C;
}

.container {
    text-align: center;
    width: 90vw;
}

.link-todearaujo, .link-mjda, .dropdown-label {
    text-decoration: none;
    color: inherit;
    font-size: 4vw;
    display: inline-block;
}

.selecione{
    color: #F2F2F2;
}

#interactiveMenu {
    appearance: none; /* Remove o estilo padrão do navegador */
    background: transparent; /* Fundo transparente */
    border: none; /* Sem borda */
    -webkit-appearance: none; /* Para navegadores baseados no WebKit */
    -moz-appearance: none; /* Para Firefox */
    color: white; /* Cor do texto */
    font-size: 6vw; /* Mesmo tamanho que a linha */
    cursor: pointer;
    padding-right: 30px; /* Espaço para a setinha */
}

#interactiveMenu::-ms-expand {
    display: none; /* Esconde a seta padrão do IE */
}

.ola {
    font-size: 2vw;
    margin-bottom: 2vw;
}

.interativos {
    font-size: 1w;
    color: white;
    margin-top: 2vw;
}

@media (max-width: 600px) {
    .container {
        width: 70vw;
        text-align: left;
    }

    .link-todearaujo, .link-mjda, .dropdown-label, #interactiveMenu {
        font-size: 5vw; /* Tamanho de fonte ajustado para dispositivos móveis */
    }

    .link-todearaujo {
        margin-top: 2rem;
        display: block; /* Quebra de linha após cada link */
    }

    #interactiveMenu {
        font-size: 7vw;
        padding-right: 10px; /* Ajuste no padding */
    }

    .interativos, .ola {
        margin-top: 2rem;;
        font-size: 1.2rem;
    }
}


