@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    display: flex;
    
    
    max-width: 360px;
    flex-direction: column;
    font-weight: bold;}

.divresposta {
    display: none;
}

.options {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.item {
    height: 30px;
    padding: 10px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-shadow: black 1px 1px 3px;
    transition: all 0.5s ease-in 0s;
    border: 3px solid white;}


.item:hover {
    filter: saturate(0.3);
    border: 3px solid #eeeeee;
}

.animabg{animation: changeBg 30s infinite;}
.animabgde{animation: changeBgDe 30s infinite;}

@keyframes changeBg{
  0%,100%  {background-position: 50% 0%;}
  25% {background-position: 50% 15%;}
  50% {background-position: 50% 35%;}
  75% {background-position: 50% 65%;}
  90% {background-position: 50% 80%;}
}

@keyframes changeBgDe{
    0%,100%  {background-position: 50% 17%;}
    25% {background-position: 50% 28%;}
    50% {background-position: 50% 65%;}
    75% {background-position: 50% 75%;}
    90% {background-position: 50% 100%;}
}