@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;     
    font-weight: bold;
    max-width: 760px;
    width: 95vw;
    display: grid;
    grid-template-rows: 1fr 1fr;}

#quiz {align-self: end;}

.divresposta {
    display: none;
}

.options {
    display: grid; 
    gap: 5px;
    grid-template-rows: 1fr 1fr 1fr;height: 20vh;}

.item {
    padding: 10px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-shadow: black 1px 1px 3px;
    transition: all 0.5s ease-in 0s;
    border: 3px solid white;
}

.item:hover {
    filter: saturate(0.3);
}

.clicado {
    filter: saturate(0.1);
}

.inativo {
    pointer-events: none;
}

.animabg{animation: changeBg 30s infinite;}

@keyframes changeBg{
  0%,100%  {background-position: 50% 0%;}
  25% {background-position: 50% 15%;}
  50% {background-position: 50% 35%;}
  75% {background-position: 50% 65%;}
  90% {background-position: 50% 80%;}
}