@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 360px;
    flex-direction: column;
font-weight: bold;}

.divresposta {
    display: none;
}

.options {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.item {
    height: 30px;
    padding: 10px 1px;
    background: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    animation: changeBg 45s infinite;
font-weight: bold;color: white;text-shadow: black 1px 1px 3px;}

.item:hover {
    background-color: antiquewhite;
}

.animabg{animation: changeBg 45s infinite;}

@keyframes changeBg{
  0%,100%  {background-position: 50% 0%;}
  25% {background-position: 50% 15%;}
  50% {background-position: 50% 25%;}
  75% {background-position: 50% 45%;}
  90% {background-position: 50% 90%;}
}