@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;700&family=Poppins:wght@400;700;900&display=swap');

html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: white;
    background-image: linear-gradient(-90deg, cyan 5%, darkblue 40%, #852500 80%, yellow 100%);
    background-size: 300% 300%;
    font-family: 'Poppins', Helvetica, sans-serif;
    display: grid;
    overflow: hidden;
    grid-template-columns: 2vw 1fr 2vw;
    grid-template-rows: 1fr;
    animation: moveBg 60s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes moveBg {
    0%{background-position:0% 25%}
    50%{background-position:100% 50%}
    100%{background-position:0% 25%}
}

.font-effect-3d {
    text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
    color: #fff;
}

*{
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    justify-items: center;
    margin: 0 auto;
}

#titulo{
    z-index: 1;
    pointer-events: none;
    grid-area: 1 / 4 / 3 / 5;
    color: white;
    line-height: 1.5;
    filter: drop-shadow(3px 3px 1px #000000);
    text-align: right;
}

h1{
    font-size: 1rem;
    font-size: clamp(1rem, 6vmin + 0.2rem, 8rem);
    line-height: 1;
}

h2{
    font-size: 0.75rem;
    font-size: clamp(0.5rem, 5vmin + 0.1rem, 1rem);
}

h1,h2{
    margin: 0;
}

#dados{
    align-items: end;
    width: 100%;
    height: 90vh;
    z-index: 1;
    pointer-events: none;
    font-weight: bold;
    display: grid;
    grid-area: 1 / 1 / 5 / 3;
    filter: drop-shadow(3px 3px 1px #000000);
    font-size: clamp(0.9rem, 3vmin + 0.2rem, 2rem);
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(8, 12.5%);
    place-self: center;
}

.uf{grid-area: 1 / 1 / 2 / 3;font-size: 4rem;text-align: center;}

.estado{font-size: 1rem;}
.estadoct{grid-area: 4 / 1 / 5 / 4;}

.pop{
    grid-area: 5 / 1 / 6 / 3;
    
}
.poptxt{font-size: 1rem;}

.cp100{grid-area: 6 / 1 / 7 / 3;}

.iv{
    grid-area: 2 / 1 / 4 / 3;
    border: 1px solid white;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
    width: inherit;
    padding: 10px;
    justify-items: center;
    align-items: center;
    place-self: end;
}

.inum{font-size: 4rem;}
.itxt{font-size: 1.2rem;text-align: center;}

.cptxt{font-size: 1rem;}

#mapa-container{
    z-index: 0;
    grid-area: 1 / 1 / 5 / 5;
    grid-template-columns: 1fr;
}

#mapa {
    height: 100vh;
    display: grid;
    align-content: center;
}

#mapa > svg{
    height: 95vh;
    overflow: visible;
}

#mapa > svg path{
    cursor: pointer;
    stroke: #000;
    stroke-width: 250;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    transition: all 250ms linear 0s;
}

#mapa > svg path.ativo {
    fill: red;
    fill-opacity: 1;
    stroke: black;
    stroke-width: 1000;
    z-index: 3;
    transform: scale(1.2);
}

@media (orientation: portrait), (max-width:1200px) {
    
    main{
        display: grid;
        justify-content: center;
        grid-template-columns: 2vw 1fr 2vw;
        grid-template-rows: 5% repeat(9,10%) 5%; 
    }

    #mapa > svg{
        width: 110vw;
    }

    #mapa-container{
        z-index: 0;
        grid-area: 3 / 2 / 8 / 4;
        width: 50vw;
        margin-left: -50vw;
    }

    #titulo{
        display: grid;
        font-size: 0.75rem !important;
        justify-content: center;
        grid-area: 8 / 2 / 9 / 3;
    }

    #dados{
        align-items: center;
        width: 100%;
        z-index: 1;
        grid-area: 3 / 2 / 9 / 3;
        filter: drop-shadow(3px 3px 1px #000000);
        font-size: clamp(0.9rem, 3vmin + 0.2rem, 2rem);
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(8, 12.5%);
    }
    
    .uf{grid-area: 1 / 1 / 2 / 3;font-size: 3rem;text-align: center;}
    
    .estadoct{font-size: 0.75rem; grid-area: 2 / 1 / 3 / 3;text-align: center;}
    
    .pop{
        grid-area: 4 / 1 / 5 / 3;
        
    }
    .poptxt{font-size: 0.9rem;}
    
    .cp100{grid-area: 5 / 1 / 6 / 3;}
    
    .iv{
        grid-area: 1 / 3 / 3 / 5;
        border: 1px solid white;
        border-radius: 15px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        height: 100%;
        width: fit-content;
        padding: 10px;
        justify-items: center;
        align-items: center;
        place-self: end;
    }
    
    .inum{font-size: 3rem;}
    .itxt{font-size: 0.7rem;;text-align: center;}
    
    .cptxt{font-size: 0.75rem;}

}