@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,body{
  height: 100%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

main {}

*{
  box-sizing: border-box;
}

#passos{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index:1;
  background-image: url(images/regua.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  border-radius: 20px;}

#passos > div.pa{
  display: grid;
}

#passos > div{
  height: 100%;
  position: absolute;
  display: flex;
  display: none;
  align-items: end;}

#passos > div > *{
  display: block;
}

#passos > div > img{
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

#gatilhos{
  position: absolute;
}

#gatilhos > div{
  
  height: 100vh;
  width: 360px;
  z-index:100;
  padding: 10%;
}

h1{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  margin: auto;
  width: 360px;
}

h3{
  font-weight: normal;
  line-height: 1;
  text-align: center;
  margin: auto;
  width: 80%;
}

.nomefone {
  z-index: 2;
  position: absolute;
  background-color: #eee;
  width:150px;
  
  text-align: center;
  padding: 15px;box-shadow: black 2px 2px 0px 2px;left: 1vw;border-radius: 15px;}

.nomefone[data-fone="01"]{top: 200vh;}
.nomefone[data-fone="02"]{top: 300vh;}
.nomefone[data-fone="03"]{top: 400vh;}
.nomefone[data-fone="04"]{top: 500vh;}
.nomefone[data-fone="05"]{top: 600vh;}