
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

*{
  box-sizing: border-box;
}

body {
  background: black;
  font-family: 'Poppins', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  grid-template-areas:
    "main";
}

main{
  grid-area: main;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  height: 100%;
  width: 100vw;
}

main>* {
  scroll-snap-align: start;
  height: 100vh;
  min-width: 100%;
  display: grid;
  justify-items: center;
}

@keyframes helpgone {
  0%{opacity: 1;}
  100%{opacity: 0;}
}

@keyframes swipeleft {
  0%{transform: translateX(10vh);}
  100%{transform: translateX(-10vh)}
}

@keyframes touchtouch {
  0%{
    transform: scale(0.8);
}
  80%{transform: scale(0.7);}
  100%{
    transform: scale(0.9);
}
}

#titulo {
  background-image: linear-gradient(-45deg,
  cyan 5%,
  darkblue 25%,
  orangered 75%,
  yellow 90%);
  animation: moveBg 30s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  background-size: 300% 300%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  }

#titulo>* {
  display: grid;
  text-align: center;
}

#titulo>div{align-content: flex-start;}

#grafico {
  grid-template-areas:
    "."
    "grafico"
    ".";
  grid-template-rows: 10vh 1fr 10vh;
  animation: moveBg 5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  background-size: 300% 300%;
  overflow-y: auto;
  align-items: center;
  align-content: flex-start;
  scroll-snap-type: y proximity;
  scroll-padding: 15vh;
  background-color: #fff;
  background-image: linear-gradient(-45deg, #ff000025 0%, #00000025 50%, #00ff0025 100%);
}

#cards{
  background-image: linear-gradient(-45deg,
  firebrick 0%,
  fuchsia 30%,
  darkblue 60%,
  cyan 100%);
  animation: moveBg 15s ease infinite;
  background-size: 300% 300%;
}

#card {perspective: 1000px;text-align: center;filter: drop-shadow(3px 3px 5px #00008C60);display: grid;align-content: center;justify-content: center;grid-template-columns: 1fr;}

@keyframes moveBg {
  0%{background-position:0% 25%}
  50%{background-position:100% 50%}
  100%{background-position:0% 25%}
}

h1,h2 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: white;
  filter: drop-shadow(2px 2px 2px #00008C66);
}

h1{
  text-decoration: underline dotted;
  margin: 0;
  font-size: 3rem;
  font-size: max(2rem,10vmin);
  width: min(70vw,80vmin);
  place-self: center;
}

h2 {
  font-weight: bold;
  color: orange;
  font-size: 1rem;
  font-size: clamp(0.75rem, 2vmin, 2rem);
}

p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: normal;
  color: white;
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 2vmin, 2rem);
}

input {
  all: unset;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid orangered;
  background: White;
  text-align: center;
  color: white;
  letter-spacing: 0.3rem;
  background-image: linear-gradient(orange, orangered);
  filter: drop-shadow(2px 2px 2px #00008C66);
  font-size: clamp(3rem, 4vmax, 4rem);
  width: 12rem;
  place-self: center;
}

input::placeholder{
  color: white;
}

.butcalcular {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  filter: drop-shadow(2px 2px 2px #00008C66);
  transition: all 500ms ease-in;
  font-size: 1.25rem;
  margin: 1rem 0;
}

.butcalcular:disabled {
  cursor: default;
  opacity: 0;
}

.butcalcular:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

#helpswipe{
  display: grid;
  animation: helpgone 1s cubic-bezier(0.4, 0, 1, 1) 1s forwards;
  grid-area: main;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: #000000dd;
  justify-content: center;
  align-content: center;
  justify-items: center;
  pointer-events: none;
  z-index: 3;
}

#helpswipe>div{
  width: 10rem;
}

#helpswipe>p {
  font-size: 3rem;
  animation: swipeleft 1s ease-in-out 0s 6 alternate;
  filter: drop-shadow(1px 3px 2px black);
}

#grafico>div{
  display: flex;
  width: 60vw;
  height: 300vh;
  grid-area: grafico;
  position: relative;
  flex-direction: column;
  scroll-snap-align: center;
  scroll-margin: 10vh;
}

#grafico>*>div:first-child{scroll-margin: 10vh;}

.blocos{
  z-index: 2;
}

.blocos>div {
  background: #00000010;
  width: 100%;
  position: relative;
  display: grid;
  z-index: 3;
  height: 0%;
  scroll-snap-align: start;
  text-align: right;
  padding-right: 2vh;
  padding-top: 1vh;
  transition: all 500ms ease-in-out 0s;
}

.blocos>div::before {
  content: attr(data-inicio);
  position: absolute;
  letter-spacing: 0.6vmin;
  left: -25%;
  text-align: left;
  width: 125%;
  color: #aaa;
  border-top: 3px solid #00000030;
  font-size: min(4.5vmin,2.5vmax);
  background-color: transparent !important;
}

.blocos>div::after {
  content: attr(data-fim);
  position: absolute;
  letter-spacing: 0.6vmin;
  left: -25%;
  text-align: left;
  width: 125%;
  color: #aaa;
  border-bottom: 3px solid #00000030;
  font-size: min(4.5vmin,2.5vmax);
  background-color: transparent !important;
  bottom: 0px;
  opacity: 0;
}

.blocos>div.mostrar{ 
  background: #ffbf0025;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.blocos>div.mostrar::before{
  color: black;
  border-block-color: #00000050;
  background-color: transparent !important;
}

.blocos>div.mostrar.expandir::after {
  color: black;
  border-bottom: 3px solid #00000050;
  background-color: transparent !important;
  opacity: 1;
}

.nomegeracao{
  z-index: 3;
  color: #aaa;
  font-size: 1.2rem;
  font-size: clamp(1rem, 5vw + 0.2rem, 3rem);
  display: contents;
}

.mostrar>.nomegeracao {
  color: black;
  font-weight: bold;
}

a.nomegeracao:hover {
  transition: all 500ms ease-in-out 0s;
  opacity: 1;
}

#marcador{
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid orangered;
  color: #ff6006;
  font-weight: bold;
  align-items: flex-end;
  height: 0;
  font-size: clamp(1vmin, 5rem + 5vmax, 15vmin);
  line-height: 0.9;
}

#marcador::before{
  content: "NASCIMENTO";
  width: 25%;
  text-align: right;
  font-size: clamp(0.75rem, 1vmin + 2vmax, 2rem);
  color: orangered;
  padding: 2px;
}

.voce {
  z-index: 1;
}

.voce>div.mostrar {
  transition: all 5s cubic-bezier(0, 0, 0, 1.0) 0s;
  width: 125%;
  opacity: 1;
  z-index: 0;
}

.voce>div {
  height: 0;
  opacity: 0;
  width: 0;
}

.timeline {
  z-index: 1;
}

.timeline>div{
  height: attr(data-posicao);
  width: 125%;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid blue;
  color:
  black;
  font-weight: bold;
  align-items: flex-end;
  font-size: clamp(0.75rem, 1vw + 0.2rem, 1rem);
  line-height: 0.9;
}

#card-i{
  transition: transform 1s 1s;
  transform-style: preserve-3d;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 0.85rem;
  font-size: clamp(1vmax, 2vmax + 1vmin, 3vmax);
  width: 90vw;
  height: 75vh;
  max-width: 360px;
  max-height: 720px;
  }

#card-i.virar {
  transform: rotateY(-180deg);
}

#card-f,#card-v{
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

#card-f{
  text-align: center;
  display: grid;
  border-radius: 50px;
  background: linear-gradient(orange, orangered);
  border: solid #00000011;
  }

#card-f>div{
  align-self: center;
  height: 100px;}

#card-v{
  background: linear-gradient(#eee, white);
  transform: rotateY(-180deg);
  border-radius: 20px;
  border: 1px solid #00000022;
  color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5vmin;
  align-content: center;
}

@media (min-width: 1025px) {
  #marcador{
    font-size: clamp(3rem, 3vw + 3rem, 6rem);
    line-height: 0.9;
  }

  #marcador::before{
    font-size: clamp(1.5rem, 1vw + 0.5rem, 2rem);
  }

  .blocos>div::before, .blocos>div::after {
    font-size: clamp(1rem, 3vh + 0.5rem, 2rem);
}
}

@media (orientation: landscape) {

  main{
    grid-area: main;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    height: 100%;
    width: 100vw;
  }

  #helpswipe{display: none !important; }

  #titulo {
  grid-template-columns: 1fr 1fr;
  display: grid;
  align-items: center;
  }

  #titulo>* {
    aspect-ratio: 3/4;
    justify-items: center;
    align-items: center;
  }

  #grafico{
    height: 100vh;
    overflow-y: hidden;
    grid-template-rows: 2fr 78vh 3fr;
  }
  
  #grafico>div{
    transform: rotate(-90deg);
    transform-style: preserve-3d;
    height: 85vw;
    width: 50vh;
    margin-top: 10vh;
  }

  .nomegeracao{
    font-size: clamp(1rem, 1vw + 0.2rem, 1.2rem);
    transform: rotate(90deg);
    justify-content: center;
  }

  #card-i{
    max-width: 1100px;
    max-height: 450px;
    font-size: 1rem;
    font-size: clamp(1.5vmax, 1vmin + 2vmax, 2.5vmin);
    text-align: initial;
  }
}

#promptInstall{
  z-index: 3;
  display: grid;
  grid-area: main;
  grid-template-areas:
    "ins ins"
    "dow dep";
  grid-template-columns: 50% 50%;
  gap: 5px;
  font-size: 16px;
  color: #333;
  text-align: center;
  align-content: space-evenly;
  background-color: #fff;
  border: 1px solid #00000025;
  border-radius: 10px;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  padding: 10px;
  height: 100vh;
  max-height: 100px;
  width: 100vw;
  max-width: 400px;
  justify-content: center;
  justify-self: center;
  align-self: end;
  margin-bottom: 20px;
}

#promptInstall > p{
  text-align: center;
  grid-area: ins;
  font-size: 20px;
  color: #dd2e44;
  line-height: 0;
}

#promptInstall>button{
  padding: 7px;
  border-radius: 10px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  vertical-align: middle;
}

#promptInstall>.dow{
  background-color: #5088ee;
  color: white;
  grid-area: dow;
}

#promptInstall>.dep{
  background-color: #eeeeee;
  color: #555;
  grid-area: dep;
}