
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

*{
  box-sizing: border-box;
}

body {
  background: black;
  font-family: 'Poppins', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  grid-template-areas:
    "main";
}

main{
  grid-area: main;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  height: 100%;
  width: 100vw;
}

main>* {
  scroll-snap-align: start;
  height: 100vh;
  min-width: 100%;
  display: grid;
  justify-items: center;
}

@keyframes helpgone {
  0%{opacity: 1;}
  100%{opacity: 0;}
}

@keyframes swipeleft {
  0%{transform: translateX(10vh);}
  100%{transform: translateX(-10vh)}
}

@keyframes touchtouch {
  0%{
    transform: scale(0.8);
}
  80%{transform: scale(0.7);}
  100%{
    transform: scale(0.9);
}
}

#titulo {
  background-image: linear-gradient(-45deg,
  cyan 5%,
  darkblue 25%,
  orangered 75%,
  yellow 90%);
  animation: moveBg 30s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  background-size: 300% 300%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  }

#titulo>* {
  display: grid;
  text-align: center;
}

#titulo>div{align-content: flex-start;}

#grafico {
  grid-template-areas:
    "."
    "grafico"
    ".";
  grid-template-rows: 10vh 1fr 10vh;
  overflow-y: auto;
  align-items: start;
  align-content: stretch;
  scroll-snap-type: y proximity;
  scroll-padding: 15vh;
  background-color: #fff;
}

#cards{
  background-image: linear-gradient(-45deg,
  firebrick 0%,
  fuchsia 30%,
  darkblue 60%,
  cyan 100%);
  animation: moveBg 15s ease infinite;
  background-size: 300% 300%;
}

#card {perspective: 1000px;text-align: center;filter: drop-shadow(3px 3px 5px #00008C60);display: grid;align-content: center;justify-content: center;grid-template-columns: 1fr;}

@keyframes moveBg {
  0%{background-position:0% 25%}
  50%{background-position:100% 50%}
  100%{background-position:0% 25%}
}

h1,h2 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: white;
  filter: drop-shadow(2px 2px 2px #00008C66);
}

h1{
  text-decoration: underline dotted;
  margin: 0;
  font-size: 3rem;
  font-size: max(2rem,10vmin);
  width: min(70vw,80vmin);
  place-self: center;
}

h2 {
  font-weight: bold;
  color: orange;
  font-size: 1rem;
  font-size: clamp(0.75rem, 2vmin, 2rem);
}

p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: normal;
  color: white;
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 2vmin, 2rem);
}

input {
  all: unset;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid orangered;
  background: White;
  text-align: center;
  color: white;
  letter-spacing: 0.3rem;
  background-image: linear-gradient(orange, orangered);
  filter: drop-shadow(2px 2px 2px #00008C66);
  font-size: clamp(3rem, 4vmax, 4rem);
  width: 12rem;
  place-self: center;
}

input::placeholder{
  color: white;
}

#calcular {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  filter: drop-shadow(2px 2px 2px #00008C66);
  transition: all 500ms ease-in;
  font-size: 1.25rem;
  margin: 1rem 0;
}

#calcular:disabled {
  cursor: default;
  opacity: 0;
}

#calcular:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

#limpar {
  background-image: linear-gradient(#eee, #ccc);
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #555;
  padding: 1rem 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  filter: drop-shadow(2px 2px 2px #00008C66);
  transition: all 500ms ease-in;
  font-size: 0.75rem;
  margin: 1rem 0;
}

#limpar:hover {
  background-image: linear-gradient(#ddd, #eee);
  border-color: #eee;
  text-decoration: none;
}

#limpar:disabled {
  opacity: 0;
}

#timeline {
  z-index: 1;
  display: none;
  display: grid !important;
}

#timeline>div{
  display: grid;
  width: 100%;
  border-bottom: 3px solid #999;
  align-items: end;
  justify-content: start;
  grid-template-rows: 1fr;
}

#timeline>.voce{
  border-bottom: 3px solid red;
  color: red;
  text-align: center;
}

.expandir{pointer-events:none;}

.fato{
  grid-area: fato;
  position: relative;
}

.fato.quando{
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-size: clamp(1rem, 5vw + 0.2rem, 2.5rem);
  right: 4rem;
  right: clamp(4rem, 10vw + 1rem, 7rem);
  top: 2rem;
  top: clamp(1rem, 3vw, 2rem);
}

.fato.que{
  font-size: 0.8rem;
  position: absolute;
  padding: 0.25rem;
}

#grafico>div{
  display: flex;
  width: 60vw;
  height: 200vh;
  grid-area: grafico;
  position: relative;
  scroll-snap-align: center;
  scroll-margin: 10vh;
  align-content: stretch;
  flex-direction: column;
}

#grafico>*>div:first-child{scroll-margin: 10vh;}

#geracoes{
  z-index: 2;
}

#geracoes>div {
  background: #00000010;
  width: 100%;
  position: relative;
  display: grid;
  z-index: 3;
  height: 0%;
  scroll-snap-align: start;
  text-align: right;
  padding-right: 2vh;
  padding-top: 1vh;
  transition: all 500ms ease-in-out 0s;
  height: var(--altura);
}

#geracoes>div::before {
  content: attr(data-inicio);
  position: absolute;
  text-align: left;
  left: -25%;
  width: 125%;
  color: #aaa;
  border-top: 3px solid #00000030;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

#geracoes>div.mostrar{
  background: #00000025;
  font-weight: bold;
  cursor: pointer;
}

#geracoes>div.mostrar::before{
  color: black;
  border-block-color: #00000050;
}

#geracoes>div.mostrar.expandir::before {
  display: none;
}

#geracoes>div.mostrar.expandir {
  background: #00000000;
  justify-items: center;
}

.nomegeracao{
  z-index: 3;
  color: #aaa;
  font-size: 1.5rem;
  display: contents;
}

.mostrar>.nomegeracao {
  color: black;
  font-weight: bold;
}

#linhaNasc{
  display: flex;
  justify-content: flex-end;
  border-bottom: 5px solid orangered;
  color: #ff6006;
  font-weight: bold;
  align-items: flex-end;
  height: 0;
  font-size: clamp(1vmin, 5rem + 5vmax, 15vmin);
  line-height: 0.9;
}

#linhaNasc::before{
  content: "Você";
  text-align: left;
  font-size: clamp(0.75rem, 1vmin + 2vmax, 2rem);
  color: orangered;
  padding: 10px;
}

#marcadores {
  z-index: 1;
}

#marcadores>div.mostrar {
  transition: all 5s cubic-bezier(0, 0, 0, 1.0) 0s;
  width: 125%;
  opacity: 1;
  z-index: 0;
}

#marcadores>div {
  height: 0;
  opacity: 0;
  width: 0;
}

#card-i{
  transition: transform 1s 1s;
  transform-style: preserve-3d;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 0.85rem;
  font-size: clamp(1vmax, 2vmax + 1vmin, 3vmax);
  width: 90vw;
  height: 75vh;
  max-width: 360px;
  max-height: 720px;
  }

#card-i.virar {
  transform: rotateY(-180deg);
}

#card-f,#card-v{
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

#card-f{
  text-align: center;
  display: grid;
  border-radius: 50px;
  background: linear-gradient(orange, orangered);
  border: solid #00000011;
  }

#card-f>div{
  align-self: center;
  height: 100px;}

#card-v{
  background: linear-gradient(#eee, white);
  transform: rotateY(-180deg);
  border-radius: 20px;
  border: 1px solid #00000022;
  color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5vmin;
  align-content: center;
}

@media (orientation: landscape) {

  #titulo {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  }

  #titulo>* {
    aspect-ratio: 3/4;
    justify-items: center;
    align-items: center;
  }

  #card-i{
    max-width: 1100px;
    max-height: 450px;
    font-size: 1rem;
    font-size: clamp(1.5vmax, 1vmin + 2vmax, 2.5vmin);
    text-align: initial;
  }
}